/* Estilos generales */
body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: black; /* Fondo negro por defecto */
    color: gold; /* Color de texto general */
}

a {
    color: gold; /* Color de los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

a:hover {
    text-decoration: underline; /* Subrayado en hover de los enlaces */
}

/* Centrar logo */
.logo {
    text-align: center;
    margin-top: 20px; /* Espacio arriba del logo */
}

/* Estilo para logo */
.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100px; /* Tamaño máximo para el logo */
    background-color: black;
}

/* Estilo para el menú */
nav {
    text-align: center;
    margin-top: 20px; /* Espacio arriba del menú */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

nav ul li {
    margin: 0 10px; /* Espacio entre elementos del menú */
}

nav ul li a {
    color: gold; /* Color del texto del menú */
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; /* Tamaño de fuente del menú */
}


/* Estilo para la sección de invitación */
.invitacion {
    text-align: center;
    position: relative; /* Posición relativa para los contenidos absolutos */
    margin-top: 50px; /* Espacio arriba de la imagen */
}

.invitacion img {
    width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática */
    display: block; /* Mostrar como bloque */
    margin: 0 auto; /* Centrar horizontalmente */
}

.overlay {
    position: absolute; /* Posición absoluta sobre la imagen */
    top: 0; /* Desde arriba */
    left: 0; /* Desde la izquierda */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    opacity: 0; /* Ocultar inicialmente */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}

.invitacion:hover .overlay {
    opacity: 1; /* Mostrar overlay al pasar el cursor */
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: flex-start; /* Alinear elementos en la parte superior */
    padding: 20px;
    color: gold; /* Color de texto en el pie de página */
}

/* Estilo para el logo y el nombre del hotel en el pie de página */
.footer-logo {
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    margin-bottom: 20px; /* Espacio inferior */
}

.footer-logo h1 {
    margin: 0; /* Eliminar márgenes */
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px; /* Tamaño de fuente para el nombre del hotel */
}

/* Estilo para el contenido del pie de página */
.footer-content {
    display: flex;
    align-items: flex-start; /* Alinear elementos a la izquierda */
}

/* Estilo para la sección de MORE, CONTACT y KEEP IN TOUCH */
.contact-info,
.more-info,
.keep-in-touch {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    margin: 0 20px; /* Espacio alrededor de los elementos */
}

.contact-info h2,
.more-info h2,
.keep-in-touch h2 {
    margin-bottom: 10px; /* Espacio inferior */
}

.contact-info p,
.more-info ul,
.keep-in-touch p {
    margin: 5px 0; /* Espacio entre elementos */
}

/* Quitar las viñetas en la sección de MORE */
.more-info ul {
    list-style-type: none; /* Quitar las viñetas */
}

.more-info ul li a {
    text-decoration: none; /* Quitar subrayado */
    color: gold; /* Color del texto */
}

/* Media queries para hacer la página responsive */

/* Estilo para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
    .logo img {
        max-width: 150px; /* Ajustar tamaño del logo */
    }

  

    .invitacion img {
        width: 80%; /* Ajustar ancho de la imagen para pantallas más grandes */
    }
}


/* Estilo para pantallas chicas */
@media screen and (max-width: 768px) {
    nav ul,
    .contact-info,
    .more-info,
    .keep-in-touch {
        flex-direction: column; /* Apilar elementos verticalmente */
    }
  
    nav ul li {
        margin: 10px 0; /* Espacio entre elementos */
    }
  
    .logo h1 {
        font-size: 1.5em; /* Tamaño de fuente más pequeño */
    }
  
    .footer-logo h1 {
        font-size: 1.2em; /* Tamaño de fuente más pequeño */
    }
  
    .contact-info,
    .more-info,
    .keep-in-touch {
        margin: 0; /* Eliminar el margen */
    }

    #imagenes img {
        width: 100%; /* Ajustar el ancho de las imágenes para una columna */
    }
}
  
/* Estilo para pantallas medianas y grandes */
@media screen and (min-width: 769px) {
    .logo img {
        width: 100px; /* Tamaño de la imagen del logo */
    }
  
    nav ul {
        justify-content: center; /* Centrar horizontalmente */
    }
  
    .logo h1 {
        font-size: 2em; /* Tamaño de fuente más grande */
    }
  
    .footer-logo h1 {
        font-size: 1.5em; /* Tamaño de fuente más grande */
    }
  
    .contact-info,
    .more-info,
    .keep-in-touch {
        margin: 0 20px; /* Espacio entre elementos */
    }
}