/* Estilos generales */
body {
  font-family: "Times New Roman", Times, serif; /* Establecer la fuente Times New Roman */
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  text-align: center; /* Centrar el contenido */
  padding: 20px; /* Espacio alrededor del encabezado */
}

.logo img {
  display: block; /* Asegurar que la imagen sea un bloque */
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.logo h1 {
  margin-top: 10px; /* Espacio superior */
}

/* Estilos para la sección de tipos de habitaciones */
.room-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre las habitaciones */
  padding: 20px;
}

.room {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.room img {
  width: 100%;
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Para mantener la proporción de aspecto */
}

.room h2 {
  text-align: center;
  margin: 10px 0;
}

/* Estilo para la segunda fila */
.second-row {
  display: flex;
  justify-content: space-between;
}

/* Ajuste para las habitaciones de la segunda fila */
.second-row .room {
  width: calc(50% - 10px); /* Ancho del 50% menos el espacio entre las habitaciones */
}

/* Modal */
.modal {
  display: none; /* Por defecto oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
