/* Estilos generales */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/* Estilos generales */
/* ... */

/* Centrar logo */
.logo {
  text-align: center;
}

/* Estilo para logo */
.logo img {
  display: block;
  margin: 0 auto;
}

/* Estilo logo */
.logo h1 {
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para el menú */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

nav ul li {
  margin: 0 10px; /* Espacio entre elementos */
}

nav ul li a {
  text-decoration: none;
  color: black; /* Color del texto del menú */
  font-family: "Times New Roman", Times, serif;
}


main {
  display: flex;
  flex-direction: column; /* Cambiar a columna para mejor responsividad */
  margin: 20px auto;
  padding: 20px;
}

.room-details {
  display: flex;
  flex-direction: column; /* Cambiar a columna para mejor responsividad */
  align-items: center; /* Centrar elementos horizontalmente */
}

.text-container {
  flex: 1;
  margin: 20px; /* Ajustar márgenes para responsividad */
  display: flex;
  flex-direction: column;
}

.text-container h2 {
  margin: 0;
}

.text-container p {
  margin: 0;
  text-align: justify;
}

.image-container {
  position: relative;
  text-align: center;
  margin: 20px 0; /* Ajustar márgenes para responsividad */
}

.image-container img {
  max-width: 100%;
  height: auto;
}

/* Estilo para el formulario de reserva */
.reservation {
  margin: 20px 0; /* Ajustar márgenes para responsividad */
}

.reservation form {
  display: flex;
  flex-direction: column;
}

.reservation label {
  margin-bottom: 5px;
}

.reservation input,
.reservation button {
  margin-bottom: 10px;
}

/* Estilo para el pie de página */
footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-logo h1 {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; /* Añadir flex-wrap para mejor responsividad */
}

.contact-info,
.more-info,
.keep-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Añadir margen para separar elementos */
}

.contact-info h2,
.more-info h2,
.keep-in-touch h2 {
  margin-bottom: 10px;
}

.contact-info p,
.more-info ul,
.keep-in-touch p {
  margin: 5px 0;
}

.more-info ul {
  list-style-type: none;
}

.more-info ul li a {
  text-decoration: none;
  color: black;
}

/* Media queries para hacer la página responsive */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
  }

  .room-details {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos horizontalmente */
  }

  .text-container {
    margin: 20px; /* Ajustar márgenes para pantallas pequeñas */
  }

  .image-container {
    margin: 20px 0; /* Ajustar márgenes para pantallas pequeñas */
  }

  .reservation {
    margin: 20px; /* Ajustar márgenes para pantallas pequeñas */
  }

  footer {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos horizontalmente */
  }

  .footer-logo,
  .footer-content {
    margin: 20px 0; /* Ajustar márgenes para pantallas pequeñas */
  }

  .footer-content {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos horizontalmente */
  }

  .contact-info,
  .more-info,
  .keep-in-touch {
    margin: 10px 0; /* Ajustar márgenes para pantallas pequeñas */
  }
}

@media screen and (min-width: 769px) {
  .logo img {
    width: 100px;
  }

  .logo h1 {
    font-size: 2em;
  }

  .footer-logo h1 {
    font-size: 1.5em;
  }

  .contact-info,
  .more-info,
  .keep-in-touch {
    margin: 0 20px;
  }
}
/* Estilo para pantallas chicas */
@media screen and (max-width: 768px) {
  nav ul,
  .contact-info,
  .more-info,
  .keep-in-touch {
      flex-direction: column; /* Apilar elementos verticalmente */
  }

  nav ul li {
      margin: 10px 0; /* Espacio entre elementos */
  }

  .logo h1 {
      font-size: 1.5em; /* Tamaño de fuente más pequeño */
  }

  .footer-logo h1 {
      font-size: 1.2em; /* Tamaño de fuente más pequeño */
  }

  .contact-info,
  .more-info,
  .keep-in-touch {
      margin: 0; /* Eliminar el margen */
  }

  #imagenes img {
      width: 100%; /* Ajustar el ancho de las imágenes para una columna */
  }
}

/* Estilo para pantallas medianas y grandes */
@media screen and (min-width: 769px) {
  .logo img {
      width: 100px; /* Tamaño de la imagen del logo */
  }

  nav ul {
      justify-content: center; /* Centrar horizontalmente */
  }

  .logo h1 {
      font-size: 2em; /* Tamaño de fuente más grande */
  }

  .footer-logo h1 {
      font-size: 1.5em; /* Tamaño de fuente más grande */
  }

  .contact-info,
  .more-info,
  .keep-in-touch {
      margin: 0 20px; /* Espacio entre elementos */
  }
}