/* Centrar el contenido de la clase logo */
.logo {
  text-align: center;
}

/* Estilo para la imagen dentro de la clase logo */
.logo img {
  display: block; 
  margin: 0 auto; 
}

/* Estilo para el título dentro de la clase logo */
.logo h1 {
  font-family: "Times New Roman", Times, serif; 
}

/* Estilo para el menú de navegación */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

nav ul li {
  margin: 0 10px; /* Espacio entre elementos */
}

nav ul li a {
  text-decoration: none;
  color: black; /* Color del texto del menú */
  font-family: "Times New Roman", Times, serif; 
}

/* Cambiar el tipo de letra para todo el contenido de la página */
body {
  font-family: "Times New Roman", Times, serif; 
}

/* Estilo para la sección de galería de fotos */
.photo-gallery {
  margin-bottom: 30px; 
}
.photo-gallery img {
  width: 100%; 
}

/* Estilo para la sección de reserva */
/* Centrar el contenido del cuerpo */
.reservation {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Apilar elementos verticalmente */
  margin-bottom: 30px;
  text-align: left; 
}

/* Estilo para la sección de información del hotel */
.hotel-info {
  background-color: #f0f0f0; 
  padding: 20px;
}


/* Estilo para el pie de página */
footer {
  text-align: center;
  display: flex;
  justify-content: space-between; /* Distribuir los elementos horizontalmente */
  align-items: flex-start; /* Alinear elementos en la parte superior */
  padding: 20px;
}

/* Estilo para el contenedor del logo y el nombre del hotel */
.footer-logo {
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  align-items: flex-start; /* Alinear elementos a la izquierda */
}

/* Estilo para el nombre del hotel en el pie de página */
.footer-logo h1 {
  margin: 0; /* Eliminar márgenes */
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para el resto del contenido del pie de página */
.footer-content {
  display: flex;
  align-items: flex-start; /* Alinear elementos a la izquierda */
}

/* Estilo para los elementos de contacto, more y keep in touch */
.contact-info,
.more-info,
.keep-in-touch {
  display: inline-block;
  margin: 0 10px; /* Espacio entre elementos */
}

/* Quitar las viñetas y cambiar el estilo de los enlaces en la sección de MORE */
.more-info ul {
  list-style-type: none; /* Quitar las viñetas */
}

.more-info ul li a {
  text-decoration: none; /* Quitar subrayado */
  color: black; /* Cambiar color del texto */
}
