/* Estilos generales */
body {
  font-family: "Times New Roman", Times, serif; /* Cambio de fuente a Times New Roman */
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Fondo de la página gris claro */
}


/* Estilos generales */
/* ... */

/* Centrar logo */
.logo {
  text-align: center;
}

/* Estilo para logo */
.logo img {
  display: block;
  margin: 0 auto;
}

/* Estilo logo */
.logo h1 {
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para el menú */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

nav ul li {
  margin: 0 10px; /* Espacio entre elementos */
}

nav ul li a {
  text-decoration: none;
  color: black; /* Color del texto del menú */
  font-family: "Times New Roman", Times, serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

p {
  line-height: 1.6;
  color: #666;
}

img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  border-radius: 8px; /* Borde redondeado */
  border: 2px solid #dcdcdc; /* Borde gris claro */
}

video {
  display: block;
  margin: 0 auto;
  border-radius: 8px; /* Borde redondeado */
  border: 2px solid #dcdcdc; /* Borde gris claro */
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .container {
      padding: 10px;
  }
}

/* Estilos para enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Estilo para pantallas chicas */
@media screen and (max-width: 768px) {
  nav ul,
  .contact-info,
  .more-info,
  .keep-in-touch {
      flex-direction: column; /* Apilar elementos verticalmente */
  }

  nav ul li {
      margin: 10px 0; /* Espacio entre elementos */
  }

  .logo h1 {
      font-size: 1.5em; /* Tamaño de fuente más pequeño */
  }

  .footer-logo h1 {
      font-size: 1.2em; /* Tamaño de fuente más pequeño */
  }

  .contact-info,
  .more-info,
  .keep-in-touch {
      margin: 0; /* Eliminar el margen */
  }

  #imagenes img {
      width: 100%; /* Ajustar el ancho de las imágenes para una columna */
  }
}

/* Estilo para pantallas medianas y grandes */
@media screen and (min-width: 769px) {
  .logo img {
      width: 100px; /* Tamaño de la imagen del logo */
  }

  nav ul {
      justify-content: center; /* Centrar horizontalmente */
  }

  .logo h1 {
      font-size: 2em; /* Tamaño de fuente más grande */
  }

  .footer-logo h1 {
      font-size: 1.5em; /* Tamaño de fuente más grande */
  }

  .contact-info,
  .more-info,
  .keep-in-touch {
      margin: 0 20px; /* Espacio entre elementos */
  }
}